* {
  box-sizing: border-box;
}
body {
  font-family: TS-Reg, sans-serif;
}
.container {
  max-width: 1035px;
  padding: 20px;
  margin: 0 auto;
}
.sticky {
  position: sticky;
  height: 100%;
  background-color: white;

  top: 0px;
}
/* --------------header--------------- */
header {
  border-bottom: #fbf1ed solid 1px;
  z-index: 1;
  position: absolute;
}
.phone {
  display: none;
}

section {
  display: flex;
  justify-content: space-between;
}
.logo-headers {
  height: 60px;

  display: flex;
  align-items: center;
}
.logo-headers img {
  height: 110px;
}
.button-headers {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-headers > div {
  padding: 17px 10px;
  height: 30px;

  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.button-headers :hover {
  background-color: lightgrey;
  cursor: pointer;
}
.button-headers > div > p {
  font-style: normal;
}
.button-login {
  padding: 17px 10px;
  background-color: black;
  color: white;
  border-radius: 20px;
}
/* ----------------------------------------- */

/* -----------------MAIN--------------------- */

h1 {
  line-height: 70px;
  font-size: 45px;
  font-weight: bold;
}
.titre > h1 > span {
  color: #ff5d5d;
  font-family: TS-Reg, sans-serif;
}
.titre > p {
  line-height: 20px;
  font-size: 14px;
  color: #333333;
}
.categorie {
  margin: 35px 0 25px 0;
  /* width: 1024PX;     no good */
  display: flex;
  flex: 1;
  justify-content: space-around;
  gap: 10px;
}
.categorie > div {
  padding: 10px;
  border: black solid 1px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 10px;
  border-radius: 10px;
}
.categorie > div:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.categorie > div:nth-child(6) {
  display: none;
}
.categorie > div:nth-child(7) {
  display: none;
}

.pictures {
  height: 430px;
  display: flex;
  gap: 2px;
}
.left-bloc {
  height: 100%;
  display: flex;
  flex: 1;
}
.right-bloc {
  width: 480px;
  height: 100%;
}

.right-bloc > div {
  height: calc(50% - 1px);
  width: 100%;
}

.right-bloc img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.right-bloc div:first-child {
  margin-bottom: 2px;
}
.left-bloc img:hover {
  cursor: pointer;
  opacity: 0.8;
}
.left-bloc {
  position: relative;
}

.all-pics-button {
  background-color: black;
  border-radius: 20px;
  padding: 11px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 5px;
  bottom: 4%;
  left: 10px;
  color: white;
  font-size: 12px;
  width: 125px;
}
.all-pics-button:hover {
  background-color: #333333;
}

.right-bloc img:hover {
  cursor: pointer;
  opacity: 0.8;
}
.location {
  padding: 15px 0;
  font-size: 12px;
  color: #545454;
}
.know-more {
  text-decoration: underline;
}
.know-more:hover {
  cursor: pointer;
}
.location-decoration:hover {
  text-decoration: underline;
  cursor: pointer;
}
.target-city {
  display: flex;
  gap: 10px;
}
.interest-point {
  height: 570px;
  padding: 50px 0px;

  gap: 80px;
}
.left-bloc-interest {
  flex: 1;
}
.right-bloc-interest {
  background-color: #ff5d5d;
  border-radius: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.right-bloc-interest > div {
  width: 100%;
  height: 60%;
}
.right-bloc-interest > img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.left-bloc-interest > h2 {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 50px;
}
.left-bloc-interest > p {
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.right-bloc-interest > div > h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  padding: 20px;
}
.right-bloc-interest > div > p {
  font-size: 16px;
  line-height: 20px;
  padding: 0px 20px 25px;
}
.right-bloc-interest > div > button {
  color: white;
  background-color: black;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 20px;
  border: none;
}
.right-bloc-interest > div > button:hover {
  opacity: 0.8;
}

.paris-go-to {
  display: block;
}
.paris-go-to > h2 {
  padding: 10px 0;
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}
.carousel {
  display: flex;
}
.carousel-side-text {
  flex: 1;
  line-height: 22px;
  padding-right: 20px;
}
.underline {
  padding-top: 20px;
  font-weight: bold;
  text-decoration: underline;
  color: #545454;
}
.carousel-side-text > h2 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}

.scroll-container {
  flex: 3;
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}
.carousel-element {
  flex-shrink: 0;
  width: calc((100% - 60px) / 3);
}
.img-logo > img {
  width: 100%;
  aspect-ratio: 4/3;
}
.img-logo {
  position: relative;
}
h5 {
  font-size: 20px;
  font-weight: 900;
  padding: 10px 0;
}
.carousel-element:hover {
  cursor: pointer;
  opacity: 0.85;
}
.carousel-element h5:hover {
  text-decoration: underline;
}

.green-circle {
  color: green;
}
.carousel-element > p {
  padding: 10px 0;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}
.rating-circle {
  font-size: 12px;
}

.heart-logo {
  background-color: white;
  padding: 6px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  top: 6px;
  left: 85%;
}
.heart {
  font-size: 18px;
}
.heart-logo:hover {
  opacity: 0.8;
}

.img-owl {
  bottom: 2px;
  position: absolute;
  display: flex;
}
.img-owl > img {
  width: 15%;
}

.travellers-guide > h2 {
  padding: 50px 0 0 0;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}
.travellers-guide {
  display: block;
}
.top-to-do {
  display: flex;
  overflow-x: scroll;
  gap: 25px;
}
.top-to-do > div {
  flex-shrink: 0;
  width: calc((100% - 75px) / 3);
  display: flex;
  flex-direction: column;
}
.top-to-do > div > img {
  width: 100%;
  aspect-ratio: 4/3;
}
.editor {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0 20px 0;
}
.editor > img {
  width: 8%;
}
.top-to-do h5 {
  font-family: trip sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
.top-to-do p {
  font-family: trip sans-serif;
  font-size: 14px;
}
.editor span {
  font-weight: bold;
}
/* ---------footer------------ */

footer {
  background-color: #fbf1ed;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  font-size: 14px;
  font-family: trip sans-serif;
  gap: 10px;
}
.footer > img {
  width: 6%;
  border-radius: 50%;
}
.footer span {
  font-weight: bold;
}
/* ----------------------------- */

/* ----------Responsive---------- */
@media (max-width: 1184px) and (min-width: 1025px) {
  body {
    /* background-color: red; */
  }
  .categorie {
    display: flex;
    flex-wrap: wrap;
  }
  .categorie > div {
    flex: none;
    width: calc((100% - 120px) / 4);
  }
  .categorie > div:nth-child(6) {
    display: inherit;
  }
  .categorie > div:nth-child(7) {
    display: inherit;
  }
  .pictures {
    height: 380px;
  }
  .left-bloc > img {
    width: 100%;
  }
  .right-bloc {
    width: 400px;
    object-fit: cover;
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  body {
    /* background-color: lightgreen; */
  }
  .categorie {
    display: flex;
    flex-wrap: wrap;
  }
  .categorie > div {
    flex: none;
    width: calc((100% - 120px) / 4);
  }
  .categorie > div {
    flex: none;
    width: calc((100% - 120px) / 4);
  }
  .categorie > div:nth-child(6) {
    display: inherit;
  }
  .categorie > div:nth-child(7) {
    display: inherit;
  }
  .button-headers p {
    display: none;
  }
  .button-login p {
    display: contents;
  }
  .interest-point {
    padding: 20px;
    display: block;
    margin-right: 20px;
  }
  .right-bloc-interest {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
  }
  .right-bloc-interest > img {
    width: 50%;
    aspect-ratio: 4/3;
    border-radius: 0%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .paris {
    margin-top: 50px;
  }
  .location {
    padding: 20px;
  }
  .pictures {
    height: 275px;
  }
  .left-bloc > img {
    width: 100%;
  }
  .right-bloc {
    width: 300px;
    object-fit: cover;
    object-position: center;
  }
  .heart-logo {
    left: 82%;
  }
}
/* ------------SMARTPHONE---------------- */
@media (max-width: 766px) {
  header .container > div {
    display: none;
  }
  .bars {
    display: contents;
  }
  .search {
    display: contents;
  }
  .logo-head > img {
    width: 25%;
  }
  .phone {
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
  }
  .logo-head {
    display: flex;
    justify-content: center;
  }
  .categorie {
    justify-content: flex-start;
    overflow-x: scroll;
  }
  .categorie > div {
    align-items: center;
    height: 50px;

    flex: none;
    flex-shrink: 0;
    gap: 10px;
  }
  .categorie > div:nth-child(6) {
    display: inherit;
  }
  .categorie > div:nth-child(7) {
    display: inherit;
  }
  .first {
    margin-left: 20px;
  }
  .titre {
    margin-left: 20px;
  }
  .right-bloc {
    display: none;
  }
  .left-bloc > img {
    width: 100%;
  }
  .location {
    display: none;
  }
  .interest-point {
    display: block;
    padding: 20px;
  }

  .right-bloc-interest {
    margin-top: 60px;
  }
  .paris {
    margin-top: 350px;
  }
  .paris-go-to {
    padding: 20px;
  }
  .travellers-guide {
    padding: 20px;
  }
  .carousel {
    display: block;
  }
  .carousel-element {
    flex-shrink: 0;
    width: calc((100% - 60px) / 1.5);
  }
  .top-to-do > div {
    flex-shrink: 0;
    width: calc((100% - 60px) / 1.5);
  }
  .heart-logo {
    left: 90%;
  }
}

/* -------------formulaire------------ */

.hiden {
  display: none;
}
#section-form {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
}
#form {
  border: black 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40%;
  padding: 20px;
  gap: 10px;
  background-color: white;
  z-index: 2;
  border-radius: 20px;
}
